# Diretório de dependências do Node
node_modules/

# Diretórios de saída da compilação
build/
dist/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Ferramentas de cobertura de código
coverage/

# Arquivos/dirs do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs e editores de código
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

yarn.lock

package-lock.json
