@import '~primeflex/primeflex.css';

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
}


 .form-field {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
} 

/* Layout para páginas autenticadas */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-header {
  flex: 0 0 auto;
}

.layout-container {
  display: flex;
  flex: 1 1 auto;
}

.layout-sidebar {
  background: #f4f4f4;
  padding: 1rem;
}

.layout-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

/* Layout para páginas de autenticação */
.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* <-- Isso aqui centraliza verticalmente */
  height: 100vh;
  background: #f8f9fa;
}


.auth-content {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08); /* sombra mais suave e profunda */
}

.auth-content h2 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.auth-content label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.auth-remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.auth-remember a {
  color: #007bff;
  text-decoration: none;
}

.auth-remember a:hover {
  text-decoration: underline;
}

.auth-button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-button:hover {
  background-color: #0056b3;
}

/* Oculta os textos dos itens do PanelMenu em modo recolhido */
.layout-sidebar.collapsed .p-menuitem-text {
  display: none;
}

/* Ajusta o padding ou alinhamento dos ícones para centralizá-los quando estiver colapsado */
.layout-sidebar.collapsed .p-menuitem-link {
  justify-content: center;
  padding: 0.5rem 0;
}
